.eight-ball {
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  text-align: center;
  padding: 10px;
}

.green {
  background-color: green;
}

.goldenrod {
  background-color: goldenrod;
}

.red {
  background-color: red;
}
